In [2]:
import sys
sys.executable

'/Users/chaewon/Projects/NetflixUpdate/venv/bin/python'

In [ ]:
import pandas as pd
import os

# relative path
movies_path = "../data/raw/netflix_movies_detailed_up_to_2025.csv"
tv_path = "../data/raw/netflix_tv_shows_detailed_up_to_2025.csv"

In [ ]:
# version 확인
pd.__version__

'3.0.0'

In [13]:
# Load movie and TV show datasets from CSV files
movies_df = pd.read_csv(movies_path)
tv_df = pd.read_csv(tv_path)

In [14]:
# Check the number of rows and columns in each dataset
movies_df.shape, tv_df.shape

((16000, 18), (16000, 16))

In [15]:
# Display column names for movies dataset
movies_df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'genres', 'language',
       'description', 'popularity', 'vote_count', 'vote_average', 'budget',
       'revenue'],
      dtype='str')

In [16]:
# Display column names for TV shows dataset
tv_df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'genres', 'language',
       'description', 'popularity', 'vote_count', 'vote_average'],
      dtype='str')

In [17]:
# Preview the first 5 rows of the movies dataset
movies_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,language,description,popularity,vote_count,vote_average,budget,revenue
0,10192,Movie,Shrek Forever After,Mike Mitchell,"Mike Myers, Eddie Murphy, Cameron Diaz, Antoni...",United States of America,2010-05-16,2010,6.380,NaN,"Comedy, Adventure, Fantasy, Animation, Family",en,A bored and domesticated Shrek pacts with deal...,203.893,7449,6.380,165000000,752600867
1,27205,Movie,Inception,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W...","United Kingdom, United States of America",2010-07-15,2010,8.369,NaN,"Action, Science Fiction, Adventure",en,"Cobb, a skilled thief who commits corporate es...",156.242,37119,8.369,160000000,839030630
2,12444,Movie,Harry Potter and the Deathly Hallows: Part 1,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, T...","United Kingdom, United States of America",2010-11-17,2010,7.744,NaN,"Adventure, Fantasy",en,"Harry, Ron and Hermione walk away from their l...",121.191,19327,7.744,250000000,954305868
3,38757,Movie,Tangled,"Byron Howard, Nathan Greno","Mandy Moore, Zachary Levi, Donna Murphy, Ron P...",United States of America,2010-11-24,2010,7.600,NaN,"Animation, Family, Adventure",en,"Feisty teenager Rapunzel, who has long and mag...",111.762,11638,7.600,260000000,592461732
4,10191,Movie,How to Train Your Dragon,"Chris Sanders, Dean DeBlois","Jay Baruchel, Gerard Butler, Craig Ferguson, A...",United States of America,2010-03-18,2010,7.800,NaN,"Fantasy, Adventure, Animation, Family",en,As the son of a Viking leader on the cusp of m...,110.044,13259,7.800,165000000,494879471

In [18]:
# Preview the first 5 rows of the TV shows dataset
tv_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,language,description,popularity,vote_count,vote_average
0,33238,TV Show,Running Man,안재철,"Yoo Jae-suk, Jee Seok-jin, Kim Jong-kook, Haha...",South Korea,2010-07-11,2010,8.241,1 Seasons,"Comedy, Reality",ko,A reality and competition show where members a...,1929.898,187,8.241
1,32415,TV Show,Conan,NaN,"Conan O'Brien, Andy Richter",United States of America,2010-11-08,2010,7.035,1 Seasons,"Talk, Comedy, News",en,A late night television talk show hosted by C...,1670.580,229,7.035
2,37757,TV Show,MasterChef Greece,NaN,NaN,Greece,2010-10-03,2010,5.600,1 Seasons,Reality,el,MasterChef Greece is a Greek competitive cooki...,1317.092,6,5.600
3,75685,TV Show,Prostřeno!,NaN,"Václav Vydra, Jana Boušková",Czech Republic,2010-03-01,2010,6.500,1 Seasons,Reality,cs,The knives (and forks) are out as a group of s...,1095.776,6,6.500
4,33847,TV Show,The Talk,NaN,"Amanda Kloots, Jerry O'Connell, Akbar Gbaja-Bi...","United States of America, Ireland",2010-10-18,2010,3.400,1 Seasons,Talk,en,A panel of well-known news and entertainment p...,712.070,12,3.400

In [20]:
# Check data types of each column in the movies dataset
movies_df.dtypes

show_id           int64
type                str
title               str
director            str
cast                str
country             str
date_added          str
release_year      int64
rating          float64
duration        float64
genres              str
language            str
description         str
popularity      float64
vote_count        int64
vote_average    float64
budget            int64
revenue           int64
dtype: object

In [ ]:
# Check data types of each column in the TV shows dataset
tv_df.dtypes

show_id           int64
type                str
title               str
director            str
cast                str
country             str
date_added          str
release_year      int64
rating          float64
duration            str
genres              str
language            str
description         str
popularity      float64
vote_count        int64
vote_average    float64
dtype: object

In [23]:
# Check the number of missing values in each column (movies)
movies_df.isna().sum().sort_values(ascending=False)

duration        16000
country           466
cast              204
director          132
description       132
genres            107
language            0
budget              0
vote_average        0
vote_count          0
popularity          0
show_id             0
type                0
rating              0
release_year        0
date_added          0
title               0
revenue             0
dtype: int64

In [ ]:
# Check the number of missing values in each column (TV shows)
tv_df.isna().sum().sort_values(ascending=False)

director        10965
description      3206
country          1797
cast             1157
genres            974
show_id             0
type                0
title               0
date_added          0
release_year        0
rating              0
duration            0
language            0
popularity          0
vote_count          0
vote_average        0
dtype: int64

In [ ]:
# Find common columns between movies and TV shows
common_cols = set(movies_df.columns).intersection(set(tv_df.columns))
common_cols

{'cast',
 'country',
 'date_added',
 'description',
 'director',
 'duration',
 'genres',
 'language',
 'popularity',
 'rating',
 'release_year',
 'show_id',
 'title',
 'type',
 'vote_average',
 'vote_count'}

In [26]:
# Find columns only in movies dataset
movie_only_cols = set(movies_df.columns) - set(tv_df.columns)
movie_only_cols

{'budget', 'revenue'}

In [27]:
# Find columns only in TV shows dataset
tv_only_cols = set(tv_df.columns) - set(movies_df.columns)
tv_only_cols

set()

In [ ]:
# Duration has different meanings: Movies measure duration in minutes, while TV shows use number of seasons.

In [28]:
# Define core columns for analysis (movies)
movie_core_cols = [
    "show_id", "title", "release_year", "genres", "country",
    "popularity", "vote_count", "vote_average", "budget", "revenue"
]

# Define core columns for analysis (TV shows)
tv_core_cols = [
    "show_id", "title", "release_year", "genres", "country",
    "popularity", "vote_count", "vote_average", "duration"
]

### Initial Data Inspection Summary

- Both movie and TV datasets contain approximately 16,000 rows.
- Movies include financial variables such as budget and revenue, while TV shows do not.
- Several columns (e.g., director, cast, budget) contain a large number of missing values.
- The `duration` column has different meanings for movies (minutes) and TV shows (seasons).

In [29]:
# Handle missing values in movies dataset
# Fill missing categorical values with 'Unknown'

movies_clean = movies_df.copy()

movies_clean['director'] = movies_clean['director'].fillna('Unknown')
movies_clean['cast'] = movies_clean['cast'].fillna('Unknown')
movies_clean['country'] = movies_clean['country'].fillna('Unknown')
movies_clean['genres'] = movies_clean['genres'].fillna('Unknown')
movies_clean['description'] = movies_clean['description'].fillna('')

# Drop duration column (not consistent across datasets)
movies_clean = movies_clean.drop(columns=['duration'])

In [30]:
# Handle missing values in TV shows dataset
# Fill missing categorical values with 'Unknown'

tv_clean = tv_df.copy()

tv_clean['director'] = tv_clean['director'].fillna('Unknown')
tv_clean['cast'] = tv_clean['cast'].fillna('Unknown')
tv_clean['country'] = tv_clean['country'].fillna('Unknown')
tv_clean['genres'] = tv_clean['genres'].fillna('Unknown')
tv_clean['description'] = tv_clean['description'].fillna('')

In [31]:
# DataFrame.copy() creates an independent copy of the original dataset to safely perform data cleaning without mutating the raw data.

In [33]:
# Convert date_added to datetime format
movies_clean['date_added'] = pd.to_datetime(movies_clean['date_added'])
tv_clean['date_added'] = pd.to_datetime(tv_clean['date_added'])

In [34]:
# Check missing values after cleaning
movies_clean.isna().sum(), tv_clean.isna().sum()

(show_id         0
 type            0
 title           0
 director        0
 cast            0
 country         0
 date_added      0
 release_year    0
 rating          0
 genres          0
 language        0
 description     0
 popularity      0
 vote_count      0
 vote_average    0
 budget          0
 revenue         0
 dtype: int64,
 show_id         0
 type            0
 title           0
 director        0
 cast            0
 country         0
 date_added      0
 release_year    0
 rating          0
 duration        0
 genres          0
 language        0
 description     0
 popularity      0
 vote_count      0
 vote_average    0
 dtype: int64)

In [35]:
# Check missing values after cleaning
movies_clean.isna().sum(), tv_clean.isna().sum()

(show_id         0
 type            0
 title           0
 director        0
 cast            0
 country         0
 date_added      0
 release_year    0
 rating          0
 genres          0
 language        0
 description     0
 popularity      0
 vote_count      0
 vote_average    0
 budget          0
 revenue         0
 dtype: int64,
 show_id         0
 type            0
 title           0
 director        0
 cast            0
 country         0
 date_added      0
 release_year    0
 rating          0
 duration        0
 genres          0
 language        0
 description     0
 popularity      0
 vote_count      0
 vote_average    0
 dtype: int64)

## Data Cleaning Strategy

This section documents the data cleaning decisions made to prepare the datasets for analysis.
Key considerations included handling missing values, resolving inconsistent column definitions,
and aligning the movie and TV show datasets for comparative analysis.